<div class="main-container">
	<h1>
        WELCOME TO THEMEATHON!
    </h1>
	<p>
		Themeathon is a speedrunning charity marathon with a distinct theme for each event!<br>
        We host both online and in person marathons in order to raise money for Save the Children
	</p>
    <h2>
        DETAILS ON UPCOMING EVENTS
    </h2>
    <p>
        Details for the location of the upcoming Themeathon are forthcoming.<br>
        The theme for the event is Japan. If you want to submit you need not adhere to the theme <br>
    </p>
    <p style="text-align: center">Stay Tuned!</p>
    <h2>
        CONNECT WITH US ON SOCIAL MEDIA <br>
        insert social media icons here xd
    </h2>
</div>
